<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Reconectando con el servidor...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Reconexión fallida... reintentando en <span id="components-seconds-to-next-attempt"></span> segundos.
        </p>
        <p class="components-reconnect-failed-visible">
            No se pudo reconectar.<br />La sesión puede haber expirado. Por favor, recarga la página para continuar.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible" onclick="location.reload()">
            Recargar página
        </button>
        <p class="components-pause-visible">
            La sesión ha sido pausada por el servidor.
        </p>
        <button id="components-resume-button" class="components-pause-visible">
            Reanudar
        </button>
        <p class="components-resume-failed-visible">
            No se pudo reanudar la sesión.<br />Tu sesión puede haber expirado. Por favor, recarga la página.
        </p>
        <button class="components-resume-failed-visible" onclick="location.reload()">
            Recargar página
        </button>
    </div>
</dialog>
